.content{
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
}

.content:before{
    content: "";
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #A31433, #a5344c);
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.8s ease-in-out;
}
  
.forms-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
  
.signin-up {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -20%);
    left: 75%;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
}

/* ANIMATION */

.content.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.content.sign-up-mode .left-panel .image,
.content.sign-up-mode .left-panel .content1{
  transform: translateX(-800px);
}

.content.sign-up-mode .signin-up {
  left: 25%;
}



.content.sign-up-mode form.sign-up {
  opacity: 1;
  z-index: 2;
}

.content.sign-up-mode form.sign-in{
  opacity: 0;
  z-index: 1;
}

.content.sign-up-mode .right-panel .image,
.content.sign-up-mode .right-panel .content1{
  transform: translateX(0%);
}

.content.sign-up-mode .left-panel {
  pointer-events: none;
}

.content.sign-up-mode .right-panel {
  pointer-events: all;
}

/*Responsive*/

@media (max-width: 870px) {
  .content {
    min-height: 800px;
    height: 180vh;
  }
  .signin-up {
    width: 100%;
    top: 900px;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-up,
  .content.sign-up-mode .signin-up {
    left: 50%;
  }

  .panels-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content1 {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .content:before {
    width: 1000px;
    height: 1000px;
    transform: translateX(-50%);
    left: 10%;
    bottom: 70%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .content.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 44%;

    right: initial;
  }

  .content.sign-up-mode .left-panel .image,
  .content.sign-up-mode .left-panel .content1 {
    transform: translateY(-640px);
  }

  .content.sign-up-mode .right-panel .image,
  .content.sign-up-mode .right-panel .content1 {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content1 {
    transform: translateY(640px);
  }

  .content.sign-up-mode .signin-up {
    top: 37%;
    /*5%*/
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .content {
    min-height: 800px;
    height: 180vh;
  }

  .image {
    display: none;
  }
  .panel .content1 {
    padding: 1rem 1rem;
    margin: -150rem 0rem;
  }
  .content {
    padding: 1.5rem;
  }

  .content:before {
    bottom: 72%;
    left: 50%;
  }

  .content.sign-up-mode:before {
    bottom: 38%;
    left: 50%;
  }
}


